.box {
    background-color: #f4f4f4;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #ff97ea;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
}

.x {
    color: rgb(219, 121, 241);

}

.o {
    color: #E19898;
}

.box:hover {
    box-shadow: 0px 0px 15px #fd7fe4;
}